* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

body {
	background-color: black;
	/*background="../images/background.gif"*/
	background-image:url('../images/background_4k.png');
	background-repeat:repeat-x;
	margin-left: 5%;
	width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    overflow-x: hidden;
}

a {
    color: #004968;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color:#0077AA;
}

.name {
    font-weight: 300;
    font-size: 36px;
    font-family: times new roman,serif;
    font-style: oblique;
}

h2.title{
    font-weight: bold;
	color:#0B3861;
}

h3.title{
	color:#0077AA;
}

.cv {
    color:#0077AA;
}

.header {
    position:relative;
    margin-left: 50px;
	width: 90%;
}

.page {
    background-image:url('../images/textura_02_mosaic_light.png');
    background-repeat:repeat;
    position:relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto ;
    margin-right: auto ;
	border: 1px solid rgb(147, 147, 147);
	/*background-color: #DFDFFF; */
	background-color: #FFFFFF;
	overflow: visible;
	/*min-width:700px;*/
	max-width:85%;
	min-height:400px;
	-moz-box-shadow: 0 0 40px 10px black;
    -webkit-box-shadow: 0 0 40px 10px black;
    box-shadow: 0 0 40px 10px black;
}

.idioms {
    float:right;
    position:relative;
    right:3px;
    top:3px;
}

.notselected {
    opacity:0.2;
    border:0px;
}

.img_idiom:hover {
    opacity:1;
    border:0px;
}

.imgSection {
/*  float:left;
    position:relative;
    width:0px;
    top:200px;
    left:-135px;
*/
    margin-left: 40px;
}

.newimgSection {
    margin-left: 10px;
}

.continente {
	margin-left: 165px;
	margin-top: 0px;
	margin-bottom:30px;
	min-height:200px;
    /* Firefox */
    width: -moz-calc(90% - 165px);
    /* WebKit */
    width: -webkit-calc(90% - 165px);
    /* Opera */
    width: -o-calc(90% - 165px);
    /* Standard */
    width: calc(90% - 165px);
}

#personal {
    text-align: justify;
}

#documents {
    text-align: justify;
}

#pictures {
}

#cv {
    text-align: justify;
    overflow: hidden;
}

#contact {
}

#videos {
}

.cv_dow {
}

.quote {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: large;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 700px;
}

.quote_author {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: large;
    text-align: right;
    padding-bottom: 40px;
    max-width: 700px;
}

.newpicture {
    float:right;
    position:absolute;
    position:fixed;
    top:10px;
    right:-87px;
    border:0px;
    display:block;
    border-radius: 50px;
    -moz-box-shadow: 0 0 1px 1px #111;
    -webkit-box-shadow: 0 0 1px 1px #111;
    box-shadow: 0 0 1px 1px #111;
}

.picture {
    float:right;
    position:absolute;
    position:fixed;
    top:10px;
    right:-87px;
    border:0px;
    display:block;
}

.pointer {
    float:right;
    position:relative;
    position:fixed;
    /*top:+10px;
    left:100px;*/
    border:0px;
    margin:0px;
    padding:0px;
}

/*
img.picture:hover {
    float:right;
    position:absolute;
    position:fixed;
    top:10px;
    right:0px;
    border:0px;
    display:block;
}*/


.frame {
    float:left;
    position:relative;

    top:400px;
    right:5px;
    border:3px;
}

.student {
    float:right;
    position:relative;

    /*background: url('../images/valleta_200_body.png') no-repeat;*/

    width:300px;
    height:300px;

    top:0px;
    right:0px;

    margin-left:30px;

    -moz-box-shadow: 0 0 10px 5px #333;
    -webkit-box-shadow: 0 0 10px 5px #333;
    box-shadow: 0 0 10px 5px #333;

    cursor:crosshair;
}

.studentfront {
    float:right;
    position:relative;

    /*background: url('../images/valleta_200_body.png') no-repeat;*/

    width:300px;
    height:300px;

    top:0px;
    right:0px;

    margin-left:30px;

    -moz-box-shadow: 0 0 10px 5px #333;
    -webkit-box-shadow: 0 0 10px 5px #333;
    box-shadow: 0 0 10px 5px #333;

    cursor:crosshair;
}

/*
img.student {
    float:right;
    position:relative;

    background: url('../images/valleta_200.png') no-repeat;

    width:200px;
    height:251px;

    top:0px;
    right:5px;
    border:5px;

    -moz-box-shadow: 0 0 10px 5px #333;
    -webkit-box-shadow: 0 0 10px 5px #333;
    box-shadow: 0 0 10px 5px #333;
}*/

/*img.student:hover {

    background: url("../images/valleta_200.png") no-repeat;
}*/

div.panel {
    float:left;
    position:relative;
	width: 180px;
    padding-bottom: 30px;
}

div.newpanel {
    float: left;
    position: fixed;
    width: 120px;
    margin: 20px;
    padding: 10px;
    border: 5px double;
    border-color: lightgray;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px 5px #333;
    -webkit-box-shadow: 0 0 10px 5px #333;
    box-shadow: 0 0 10px 5px #333;
}

ul.newpanel {
    list-style-type: none;
    padding-left: 0px;
}

ul.panel {
    list-style-type: none;
}

a.panel{
    color: #0077AA;
	font-weight: 400;
	font-size: 20px;
	text-decoration:none;
}

a.panel:hover{
    color: #0B3861;
    font-weight: 400;
    font-size: 20px;
    text-decoration:none;
}

#preload {
    display:none;
    width:0px;
    height:0px;
}

.preload {
    width:0px;
    height:0px;
    display:none;
}

.footer {
    margin-top: 30px;
    text-align: center;
    color: black;
    text-shadow: -1px 0 grey, 1px 0 grey, 0 -1px grey, 0 1px grey;
}

div.document {
  background: white;
  padding: 1%;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid;
  border-color: #005E86;
  margin: 2% 0px 10px 10px;
}

p.document {
  width: 80%;
}

img.document {
  width: 20%;
  float: right;
  min-width: 150px;
  max-width: 250px;
  margin: 5px;
  border: 2px solid transparent;
}

img.document:hover {
  border: 2px solid #0077AA;
}

a.document {
    font-weight: bold;
    font-size: medium;
    color: #004968;
    text-decoration: underline;
}

a.document:hover {
	color: #0077AA;
}

div.logo {
    background-color: white;
    text-align: justify;
    text-align-last: justify;
    border-radius: 15px;
}

a.logo {
    text-decoration: none;
}

img.logo {
    max-width: 200px;
    max-height: 150px;
    align: middle;
    vertical-align: middle;
    border: 10px solid transparent;
}

img.logo:hover {
    outline: 2px solid #0077AA;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	padding: .2em .4em .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 1px;
}

/* ====== CV ====== */

/* The actual timeline (the vertical ruler) */
.cv_timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.cv_timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0077AA;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.cv_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.cv_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: whitesmoke;
  border: 4px solid #0077AA;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place work on the left */
.cv_work {
    left: 0;
    background-image:url('../icon/briefcase.svg');
    background-repeat: no-repeat;
    background-position: left;
}

/* Place education on the right */
.cv_education {
    left: 50%;
    background-image:url('../icon/mortarboard.svg');
    background-repeat: no-repeat;
    background-position: right;
}

/* Add arrows to the left container (pointing right) */
.cv_work::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 12px;
  border: medium solid whitesmoke;
  border-width: 10px 0 10px 28px;
  border-color: transparent transparent transparent #0077AA;
}

/* Add arrows to the right container (pointing left) */
.cv_education::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 12px;
  border: medium solid whitesmoke;
  border-width: 10px 28px 10px 0;
  border-color: transparent #0077AA transparent transparent;
}

/* Fix the circle for containers on the right side */
.cv_education::after {
  left: -16px;
}

.cv_content {
  margin: 5px 0px;
  padding: 20px 30px;
  background-color: whitesmoke;
  position: relative;
  border-radius: 6px;
  background-color: whitesmoke;
  border-color: lightgray;
  -moz-box-shadow: 0 0 5px 2px #666;
  -webkit-box-shadow: 0 0 5px 2px #666;
  box-shadow: 0 0 5px 2px #666;
}

.cv_title {
	color:#0077AA;
    font-size: large;
}
.cv_date {
    font-size: small;
    float: left;
    line-height: 100%;
    width: 40%;
}
.cv_institution {
    font-size: normal;
    color: #0B3861;
}
.cv_location {
    font-size: normal;
    float: right;
    line-height: 100%;
    width: 60%;
    text-align: right;
}
.cv_description {
    font-size: small;
    display: None;
}

@media screen and (max-width: 900px) {
/* Place the timelime to the left */
  .cv_timeline::after {
    left: 15px;
  }

/* Full-width containers */
  .cv_container {
    width: 100%;
    padding-left: 40px;
    padding-right: 0px;
  }

/* Make sure that all arrows are pointing leftwards */
  .cv_container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 12px;
  border: medium solid whitesmoke;
  border-width: 10px 28px 10px 0;
  border-color: transparent #0077AA transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .cv_work::after, .cv_education::after {
    left: 0px;
  }

/* Make all right containers behave like the left ones */
  .cv_education {
    left: 0;
    background-image:url('../icon/mortarboard.svg');
    background-repeat: no-repeat;
    background-position: left;
  }

body {
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
}

.page {
	max-width:100%;
}

.student {
    float: none;

    margin-left:0px;
}

.studentfront {
    float: left;
    margin-left:0px;
    position: absolute;
}

.continente {
    /* Firefox */
    width: -moz-calc(98% - 165px);
    /* WebKit */
    width: -webkit-calc(98% - 165px);
    /* Opera */
    width: -o-calc(98% - 165px);
    /* Standard */
    width: calc(98% - 165px);
}

iframe {
    width: 100%
}

}


/* ====== CV end ====== */
